<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Create New Post</title>
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="/style.css" />
  </head>
  <body>
    <div class="form-container">
      <h2>Create New Post</h2>

      <form
        action="/posts/<%=post.id%>?_method=PATCH"
        method="POST"
        class="post-form"
      >
        <div class="input-group">
          <label for="username">Username</label>
          <input
            type="text"
            id="username"
            name="username"
            placeholder="e.g. ritik_rajput"
            disabled
            required
            value="<%=post.username%>"
          />
        </div>

        <div class="input-group">
          <label for="content">What's on your mind?</label>
          <textarea
            name="content"
            id="content"
            rows="5"
            placeholder="Write your thoughts or question here..."
            required
          >
<%=post.content%></textarea
          >
        </div>

        <div class="form-actions">
          <button type="submit" class="btn-submit">Edit Post</button>
          <a href="/posts" class="btn-cancel">Cancel</a>
        </div>
      </form>
    </div>
  </body>
</html>
