<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <form action="/posts/new" method="POST">
      <label for="username">UserName:</label>
      <input type="text" name="username" placeholder="Enter Username" />
        <br><br>
      <label for="content">Content:</label>
      <br>
      <textarea
        name="content"
        id="content"
        rows="5"
        cols="50"
        placeholder="Enter Content"
      ></textarea>

      <br><br>

      <button type="submit">Add Post</button>
    </form>
  </body>
</html>
